.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #fffaf0;
  color: #333;
}

.header {
  margin-bottom: 30px;
}

.botoes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

.botao-dia {
  padding: 10px 15px;
  border: none;
  background-color: #f0a500;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.botao-dia:hover {
  background-color: #d48806;
}

.botao-dia.ativo {
  background-color: #a35f00;
}

.ementa-dia {
  background-color: #fff8e1;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}
.prato {
  margin-bottom: 20px;
}
.botao-sugestao {
  display: inline-block;
  margin-top: 5px;
  padding: 6px 12px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

.botao-sugestao:hover {
  background-color: #388e3c;
}

